body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #f8f8f8;
}

main {
  display: inline-block;
  width: 1000px;
  margin-left: calc((100% - 800px) / 2);
}

header {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}

.logo {
  background-color: rgb(132, 209, 132);
  width: 4%;
  margin: 20px;
  padding: 10px 0;
  text-align: center;
  border-radius: 7px;
  color: #fff;
  transform: rotate(41deg);
  float: left;
}

.center {
  transform: rotate(-39deg);
}

.nav-btn {
  text-decoration: none;
  float: right;
  margin-top: 30px;
}

.nav-btn a {
  display: inline-block;
  text-decoration: none;
  color: #9e9e9e;
  font-size: 15px;
  line-height: 15px;
  padding: 5px 20px;
  border: 5px transparent;
}

.nav-btn .button {
  border: 5px solid #9e9e9e;
  border-radius: 15px;
  text-transform: uppercase;
  margin-left: 30px;
}

a:hover {
  color: rgb(132, 209, 132);
}

section {
  display: inline-block;
  width: 100%;
}

.left {
  width: 45%;
  color: #9e9e9e;
  float: left;
}

.right {
  float: right;
  width: 45%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.right img {
  width: 100%;
}

.left {
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
}

.left h1 {
  font-size: 80px;
  margin: 0;
}

.left p {
  font-size: 25px;
  margin: 0;
}
